body{
	font-family: arial;
	font-size: 12px;
	background: #F7F7F7;
	color: #3C38C6FF;
	margin: 0px;
}
#container{
	width: 1100px;
	height: auto;
	margin: 0px auto;
	padding: 10px;
}
/* HEADER  */
#container #header{
	margin-top: 20px;
}
#container #header #menu{
	background: #3C38C6FF;
	padding: 5px 10px;
	overflow: hidden;
}
#container #header #menu #user{
	float: left;
}
#container #header #menu #user a{
	color: white;
	padding-right: 5px;
	margin-top: 5px;
	display: inline-block;
	text-decoration: none; 
}
#container #header #menu #btn-keranjang{
	float: right;
	background: orange;
	padding: 2px 10px;
	border-radius: 3px;
}
#container #header #menu #btn-keranjang img{
	vertical-align: bottom;
}
#container #header #menu #user{
	color: white;
}
/* END OF HEADER */
/* CONTENT */
#container #content{
	padding: 10px 0px;
	overflow: hidden;
}
/* REGISTER */
	.notif{
		background: #3C38C6FF;
		color: white;
		padding: 10px;
		margin-bottom: 10px;
		font-size: 11px; 
	}
/* END OF REGISTER */
#container-user-akses{
	width: 350px;
	height: auto;
	margin: 50px auto;
}
.element-form{
	margin-bottom: 15px;
}
.element-form label{
	display: block;
	color: #3C38C6FF;
	font-weight: bold;
}
.element-form span{
	display: block;
}
.element-form span input, textarea{
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}
.element-form span input[type="submit"]{
	width: 26%;
	text-align: center;
	background: #3C38C6FF;
	border-radius: 5px;
	color: white;
	font-size: 12px;
	padding: 7px 0px;
}
.element-form span input[type="submit"]:hover{
	box-shadow: 1px 2px #888888;
	background: orange;

}


/* END OF CONTENT */
/* FOOTER */
#container #footer{
	background: #3C38C6FF;
	padding: 10px;
}
#container #footer p{
	color: white;
	text-align: right;
	font-size: 10px;
	font-style: italic;
	margin: 0px; 
}
/* END OF FOOTER */